@font-face {
  font-family: JuliusSansOne;
  src: url('fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: Recursive;
  src: url('fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

body {
  margin: 0 auto;
  background-color: #111;
  color: white;
  font-family: OpenSans, sans-serif;
  min-height: 100vh;
}

/* NAV  */
nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'logo . . . . links links links links links links toggle';
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
  background-color: #111;
  padding: 1rem;
}
.logo-container {
  display: flex;
  grid-area: logo;
  align-items: center;
  padding-left: 1rem;
}
.fa-code {
  height: 3rem !important;
  width: 3rem !important;
}
.nav-items-container {
  grid-area: links;
}
.nav-items-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  padding-top: 0.6rem;
}

.nav-items-container li {
  font-family: Recursive;
  font-size: 1.3rem;
}
.nav-items-container li:hover,
.fa-code:hover {
  color: #b3a577;
  cursor: pointer;
  transition: 0.5s ease;
}
.menu-btn:hover .menu-btn-burger,
.menu-btn:hover .menu-btn-burger::after,
.menu-btn:hover .menu-btn-burger::before {
  background-color: #b3a577;
  cursor: pointer;
  transition: 0.5s ease;
}

.link-active {
  color: #b3a577;
  text-decoration: underline;
}

#home,
#skills,
#projects,
#contact {
  padding-top: 4.5rem;
}

/* HAMBURGER MENU */
.menu-btn {
  grid-area: toggle;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 3.5rem;
  transition: all 0.5s ease-in-out;
  margin-right: 1.5rem;
  background-color: #111;
  z-index: 15;
}
.menu-btn-burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-0.8rem);
}
.menu-btn-burger::after {
  transform: translateY(0.8rem);
}
.menu-btn.open .menu-btn-burger {
  transform: translateX(-3rem);
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.nav-links {
  transform: translateX(50vw);
  opacity: 0;
  transition: all 0.5s ease;
}
.nav-links.show {
  transform: translateX(0);
  opacity: 1;
}

/* HOME PAGE */

.home-header {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.home-header h1 {
  font-family: JuliusSansOne, sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
}

.home-header h3 {
  font-family: Recursive, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
}

.profile {
  height: 20rem;
  border-radius: 50%;
  border: 2px solid white;
}

.about {
  width: 75vw;
  margin: 0 auto;
}

.about p {
  font-size: 4vw;
  font-family: Recursive, sans-serif;
}

.about strong {
  color: #b3a577;
}

.about a {
  text-decoration: none;
  color: white;
}
.about a:hover {
  color: #b3a577;
  transition: 0.5s;
}

/* SKILLS PAGE */

#skills {
  width: 90vw;
  margin: 0 auto;
}
.skills-header {
  text-align: center;
}
.skills-header h1 {
  font-family: JuliusSansOne, sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
}

.skills-list h3 {
  font-family: Recursive, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #b3a577;
}

#skills ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#skills li {
  text-align: center;
}

/* SKILL ICONS */

.skill-icon {
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 10%;
  padding: 0.5rem;
}

.fa-html5 {
  color: #e34f26;
  background-color: white;
}
.fa-css3-alt {
  color: #264de4;
  background-color: white;
}
.fa-js-square {
  color: #f0db4f;
  width: 6.7rem !important;
  height: 6.7rem !important;
  margin-top: -0.8rem;
}
.js-title {
  margin-top: 0.5rem;
}
.fa-react {
  color: #61dbfb;
  background-color: white;
}
.jquery-icon {
  color: #6379e6;
  background-color: white;
}
.fa-php {
  color: #8993be;
  background-color: #232531;
  border: 1px solid white;
}
.mongodb-icon,
.postgres-icon,
.mysql-icon {
  background-color: white;
}
