@font-face {
  font-family: JuliusSansOne;
  src: url('fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: Recursive;
  src: url('fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

body {
  margin: 0 auto;
  background-color: #111;
  color: white;
  font-family: OpenSans, sans-serif;
  min-height: 100vh;
}

/* NAV  */

nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 'logo . . . . links links links links links links toggle';
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
  background-color: #111;
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  grid-area: logo;
  align-items: center;
  padding-left: 1rem;
}

.fa-code {
  height: 3rem !important;
  width: 3rem !important;
}

.nav-items-container {
  grid-area: links;
}

.nav-items-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  padding-top: 0.6rem;
}

.nav-items-container li {
  font-size: 1.3rem;
}
.nav-items-container li:hover,
.fa-code:hover {
  color: goldenrod;
  cursor: pointer;
  transition: 0.5s ease;
}
.menu-btn:hover .menu-btn-burger,
.menu-btn:hover .menu-btn-burger::after,
.menu-btn:hover .menu-btn-burger::before {
  background-color: goldenrod;
  cursor: pointer;
  transition: 0.5s ease;
}

.link-active {
  color: goldenrod;
  text-decoration: underline;
}

#home,
#skills,
#projects,
#contact {
  padding-top: 5rem;
}

/* HAMBURGER MENU */
.menu-btn {
  grid-area: toggle;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 3.5rem;
  transition: all 0.5s ease-in-out;
  margin-right: 1.5rem;
  background-color: #111;
  z-index: 15;
}
.menu-btn-burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-0.8rem);
}
.menu-btn-burger::after {
  transform: translateY(0.8rem);
}
.menu-btn.open .menu-btn-burger {
  transform: translateX(-3rem);
  background: transparent;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.nav-links {
  transform: translateX(50vw);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links.show {
  transform: translateX(0);
  opacity: 1;
}

/* HOME PAGE */

.home-header {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.home-header h1 {
  font-family: JuliusSansOne, sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
}

.home-header h3 {
  font-family: Recursive, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
}

.profile {
  height: 20rem;
  border-radius: 50%;
  border: 2px solid white;
}

.about {
  width: 75vw;
  margin: 0 auto;
}

.about p {
  font-size: 4vw;
  font-family: Recursive, sans-serif;
}

.about strong {
  color: goldenrod;
}

.about a {
  text-decoration: none;
  color: white;
}
.about a:hover {
  color: goldenrod;
  transition: 0.5s;
}
