@font-face {
  font-family: JuliusSansOne;
  src: url('fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: Recursive;
  src: url('fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Italic.ttf');
  font-style: italic;
}

body {
  margin: 0 auto;
  background-color: #111;
  color: white;
  font-family: OpenSans, sans-serif;
}

.home-header {
  text-align: center;
}

.home-header h1 {
  font-family: JuliusSansOne, sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
}

.home-header h3 {
  font-family: Recursive, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  margin-top: 1rem;
}

.profile {
  height: 20rem;
  border-radius: 50%;
  border: 2px solid white;
}

.about {
  width: 75vw;
  margin: 0 auto;
}

.about p {
  font-size: 4vw;
  font-family: Recursive, sans-serif;
}

.about strong {
  color: goldenrod;
}

.about a {
  text-decoration: none;
  color: white;
}
.about a:hover {
  color: goldenrod;
  transition: 0.5s;
}
